/* Link to raw css: https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/dualsense.css /*

/*BEGIN PS5 Controller Styling*/
/*This class defines the base attributes of the skin*/

/* The Base of the Controller ------------------------------------------------------- */
.controller.custom{
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/base_dark.svg); 
  height: 624px;
  width: 824px;
}

/* Disconnected Controller ------------------------------------------------------- */
.custom.disconnected { /* This class shows an image when the controller is disconnected */
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/base_dark.svg);
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
  display: none;
}

/* Menu Buttons ------------------------------------------------------- */
.custom .arrows{
  position: absolute;
  width: 409px;
  height: 39px;
  top: 136px;
  left: 208px;
}
.custom .back{
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/menu_both.svg);
  float: left;
  height: 38px;
  width: 26px;
}
.custom .start{
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/menu_both.svg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  float: right;
  height: 38px;
  width: 26px;
}
.custom .back.pressed{
  background-position-x: -26px;
}
.custom .start.pressed{
  background-position-x: -26px;
}

/* Touchpad ------------------------------------------------------- */
.custom .touchpad{
  position: absolute;
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/touchpad_dark.svg);
  top: 91px;
  left: 247px;
  height:179px;
  width: 331px;
}

.custom .touchpad.pressed{
  background-position-x: -332px;
}

/* Face Buttons ------------------------------------------------------- */
.custom .abxy{
  position: absolute;
  width: 180px;
  height: 180px;
  top: 154px;
  left: 580px;
}
.custom .button{
  position: absolute;
  width:54px;
  height:54px;
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/face.svg);
}

.custom .a{
  background-position: 0px 0px;
  margin-top: 122px;
  margin-left: 62px;
}
.custom .a.pressed{
  background-position-x: 0px;
  background-position-y: -55px;
  margin-top: 122px;
  margin-left: 62px;
}

.custom .b{
  background-position: 171px 0px;
  margin-top: 62px;
  margin-left: 122px;
}
.custom .b.pressed{
  background-position-x: -58px;
  background-position-y: -55px;
  margin-top: 62px;
  margin-left: 122px;
}

.custom .x{
  background-position: 112px 0px;
  margin-top: 62px;
  margin-left: 5px;
}
.custom .x.pressed{
  background-position-x: -117px;
  background-position-y: -55px;
  margin-top: 62px;
  margin-left: 5px;
}

.custom .y{
  background-position: 54px 0px;
  margin-top: 4px;
  margin-left: 62px;
}
.custom .y.pressed{
  background-position-x: 54px;
  background-position-y: -55px;
  margin-top: 4px;
  margin-left: 62px;
}

/* The Triggers ------------------------------------------------------- */
.custom .triggers{
  width: 613px;
  height: 100px;
  position: absolute;
  left: 107px;
}
.custom .trigger-button{
  width:92px;
  height:93px;
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/trigger_both.svg);
}
.custom .trigger-button.pressed{
  background-position-x: -94px;
}
.custom .trigger-button.left{ 
  float: left;
}
.custom .trigger-button.right{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  float: right;
}

/* The Bumpers ------------------------------------------------------- */
.custom .bumpers{
  position: absolute;
  width: 625px;
  height: 35px;
  left: 101px;
  top: 88px;
}
.custom .bumper{
  width: 109px;
  height: 33px;
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/bumper_both.svg);
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
  background-position-x: -108px;
}
.custom .bumper.left{
  float: left;
}
.custom .bumper.right{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  float: right;
}

/* Analog Sticks ------------------------------------------------------- */
.custom .sticks{
  position: absolute;
  width: 346px;
  height: 80px;
  top: 318px;
  left: 239px;
}
.custom .stick{
  position: absolute;
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/sticks.svg);
  height:80px;
  width: 80px;
}
.custom .stick.pressed.left{
  background-position-x: -82px;
}
.custom .stick.pressed.right{
  background-position-x: -82px;
}
.custom .stick.left{
  top: 0;
  left: 0;
}
.custom .stick.right{
  top: 0;
  left: calc(100% - 80px);
}
/* DPad ------------------------------------------------------- */
.custom .dpad{
  position: absolute;
  width: 152px;
  height: 152px;
  top: 169px;
  left: 79px;
}
.custom .face{
  background: url(https://raw.githubusercontent.com/Sothis71/gamepadviewer-dualsense/main/ressources/SVG/dpad.svg);
  position: absolute;
}

.custom .face.up{
  background-position: -45px 0px;
  left: 55px;
  top: 3px;
  width: 42px;
  height: 63px;
}
.custom .face.up.pressed{
  margin-top: -3px;
  background-position-y: 63px;
}

.custom .face.down{
  background-position: 0px 0px;
  left: 55px;
  top: 88px;
  width: 42px;
  height: 63px;
}
.custom .face.down.pressed{
  margin-top: -2px;
  background-position-y: 63px;
}

.custom .face.left{
  background-position: -88px -10px;
  width: 63px;
  height: 50px;
  top: 55px;
  left: 0;
}
.custom .face.left.pressed{
  margin-top: -1px;
  background-position-y: 52px;
}

.custom .face.right{
  background-position: 63px -10px;
  width: 63px;
  height: 50px;
  top: 55px;
  right: 2px;
}
.custom .face.right.pressed{
  margin-top: -4px;
  background-position-y: 55px;
}
